@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #ffffff; /* Pastel Pink */
    padding: 10px;
    text-align: center;
  }
  
  /* Container Inside Header Styles */
  header .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  
  /* Header Links Styles */
  header a {
    color: #008080; /* Pastel Green */
    text-decoration: none;
    margin: 0 10px;
    font-weight: normal;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  
  /* Form Styles */
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #FFB6C1; /* Pastel Pink */
    padding: 10px;
    text-align: center;
  }
  
  /* Garden Details Styles */
  .garden-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .garden-details h4 {
    grid-column: 1/3;
    margin-top: 0;
  }
  
  .garden-details p {
    grid-column: 2/3;
    margin-top: 0;
  }
  
  /* Create and Update Garden Styles */
  .create-garden,
  .update-garden {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 25%;
    padding: 20pt;
  }
  
  .create-garden h3,
  .update-garden h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .create-garden label,
  .update-garden label {
    margin-bottom: 5px;
  }
  
  .create-garden input,
  .update-garden input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-garden button,
  .update-garden button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #008080;
    color: #fff;
    border: 1px solid #008080;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-garden .error,
  .update-garden .error {
    color: red;
    margin-top: 10px;
  }